.container {
  display: grid;
  gap: 5px;
  grid-template-columns: 250px auto;
  grid-template-rows: 30px auto auto;
}
.buttons {
  border-style: solid;
  border-color: red;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.table {
  grid-column: 1 /  3;
  grid-row: 2 / 3;
}
.first_box {
  display: flex;
  flex-direction: column;
}
.table_box {
  flex: auto;
}
.main_acc_box {
  flex: none;
  
}