
.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
}

.minWin {
    flex: 1;
    border-radius: 5px;
    max-width: 150px;
    min-width: 100px;
    height: 15px;
    box-shadow: 2px 2px 2px 1px rgba(100, 100, 100);
    margin-right: 5px;
    padding: 5px;
   
    
}
.winName {
    float: left;
  max-width: 130px;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   color: blue;
}
.icon {
    float: right;
}
