.container {
  display: inline-block;
  overflow: auto
}

.container table th {
position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container table {
  border-collapse: collapse;
}

.container table th {
  background-color: #1976D2;
  color: #fff;
}

.container th,
.container td {
  padding: 3px;
}

.select {
  color: red;
}

.container tr:nth-child(odd) {
  background-color: #BBDEFB;
}